/*Header*/
header {
  background-image: linear-gradient(100deg, #0f0c29, #302b63, #24243e);
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem 3rem;
  position: sticky;
  top: 0;
}

.cart-btn {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.cart-btn:active,
.cart-btn:focus {
  outline: 1px solid skyblue;
}

.cart-btn span {
  width: 20px;
  height: 20px;
  background-image: linear-gradient(100deg, #0f0c29, #302b63, #24243e);
  color: whitesmoke;
  border: 1px solid rgba(200, 200, 200, 0.2);
  border-radius: 50%;
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

.icons-container {
  align-self: flex-end;
  width: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

.logo,
.login-icon {
  color: inherit;
  text-decoration: none;
}

/*Cart*/
.closeCart-btn {
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin: 1rem;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.closeCart-btn:active,
.closeCart-btn:focus {
  outline: 1px solid skyblue;
}

/*main*/
.home-container {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 2rem;
  margin: 0 auto;
  padding: 3rem 0;
}

.home-container h1,
.home-container label {
  margin-inline: 1rem;
}

.home-container h1 {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin-block: 0;
}

.home-container label {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.home-container input {
  width: 50%;
  min-width: 200px;
  margin: 0 auto;
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  outline: none;
}

.products-container {
  max-width: 430px;
  padding: 2rem 3rem;
}

.products-container,
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.products-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.products-container a {
  color: inherit;
  text-decoration: none;
}

.products-container img {
  max-width: 100%;
  height: 150px;
  margin-bottom: 3rem;
}

.products-container ul,
.product ul {
  margin-top: auto;
  padding: 0.5rem;
}

.products-container li,
.product li {
  padding-block: 0.5rem;
  list-style-type: none;
}

.products-container button,
.products-container ul {
  align-self: start;
}

.products-container button,
.product button {
  width: 100%;
  background-image: linear-gradient(100deg, #0f0c29, #302b63, #24243e);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: auto;
  padding: 10px 20px;
  cursor: pointer;
}

.products-container button:active,
.products-container button:focus,
.products-container input:focus,
.products-container input:active,
.product button:active,
.product button:focus,
.product input:focus,
.product input:active,
.home-container input:focus,
.home-container input:active {
  outline: 1px solid skyblue;
}

.pagination {
  grid-column: 1/-1;
  margin: 1rem auto;
}

/*Product*/
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.product {
  max-width: 500px;
  width: 100%;
  gap: 0.5rem;
  padding: 3rem;
  position: relative;
}

.product button {
  width: 70%;
}

.product img {
  max-width: 100%;
  height: 200px;
  margin-bottom: 2rem;
  transition: transform 0.2s;
}

.product img:hover {
  transform: scale(1.1);
}

.product-link {
  align-self: flex-start;
  color: inherit;
  margin: 1.5rem 3rem;
  text-decoration: none;
}

.product-link:hover {
  text-decoration: underline;
}

/*Cart*/
.carts-container {
  width: 100%;
  overflow-y: scroll;
}

.carts-container h1,
.carts-container h2 {
  font-size: 1rem;
  text-align: center;
}

.carts-container p {
  font-weight: 500;
  text-align: center;
}

.carts-container a {
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
}

.checkout-btn {
  margin: 3rem auto;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -1rem;
  padding-inline: 0 1rem;
}

.cart-container img {
  width: 15%;
  height: auto;
}

.cart-container ul {
  list-style-type: none;
}

.productCount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}

.empty-cart-btn {
  background-color: transparent;
  margin-top: 2rem;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}

.empty-cart-btn:active,
.empty-cart-btn:focus,
.remove-from-cart-btn:active,
.remove-from-cart-btn:focus {
  outline: 1px solid skyblue;
}

.empty-cart-btn:hover {
  text-decoration: underline;
}

.add-to-cart {
  margin-right: 1rem;
}

/*Login*/
form {
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 2rem auto;
  padding: 1.5rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

form:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form h1 {
  margin: 0;
  margin-bottom: 1rem;
}

form label {
  height: auto;
}

form label,
form input,
form > button {
  width: 100%;
}

form input {
  display: block;
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  outline: none;
}

form > button {
  background-image: linear-gradient(100deg, #0f0c29, #302b63, #24243e);
  color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-block: 1rem;
  padding: 15px 20px;
}

form > button:active,
form > button:focus {
  outline: 1px solid skyblue;
}

form label,
form > button {
  cursor: pointer;
}

form a {
  color: inherit;
  font-size: 0.9rem;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.name-container label,
.name-container input {
  min-width: 45%;
}

/*Profile*/
.profile-container,
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  max-width: 500px;
  width: 90%;
  gap: 0.5rem;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.profile:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile > h1 {
  margin-bottom: 0.5rem;
}

.profile > button {
  width: 65%;
  margin: 0 auto;
  background-image: linear-gradient(100deg, #0f0c29, #302b63, #24243e);
  color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
}

.profile > button:active,
.profile > button:focus {
  outline: 1px solid skyblue;
}

.profile-link {
  align-self: flex-start;
  color: inherit;
  margin: 1.5rem 3rem;
  text-decoration: none;
}

.profile-link:hover {
  text-decoration: underline;
}

/*Checkout*/
.checkout-container {
  width: 100%;
  padding: 2rem 3rem;
}

.checkout-container a {
  color: inherit;
  text-decoration: none;
}

.checkout-container a:hover {
  text-decoration: underline;
}

.product-checkout,
.checkout-section {
  display: flex;
  align-items: center;
}

.product-checkout {
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-block: 2rem;
  padding-inline: 1.5rem;
}

.product-checkout:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-checkout {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.product-checkout img {
  width: 15%;
  height: auto;
}

.product-checkout ul {
  padding: 0;
  list-style-type: none;
}

.checkout-section {
  flex-direction: column;
}

.order-summary {
  padding: 2rem;
}

.order-summary > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.checkout-section > button {
  width: 35%;
  min-width: 200px;
  background-image: linear-gradient(100deg, #0f0c29, #302b63, #24243e);
  color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 15px 20px;
  cursor: pointer;
}

.checkout-section > button:active,
.checkout-section > button:focus {
  outline: 1px solid skyblue;
}

@media screen and (max-width: 800px) {
  .checkout-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
